/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .services-wrap {
    padding: 40px 10px 40px 30px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .tab-wrap .media .parrent.pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }

  ul.social_icons li{
    margin-right: 0;
  }

.chef_list_detail .side-bar .text-post{width:62%}

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel .carousel-content {
    margin-top: 140px;
  }

  #main-slider .carousel .slide-margin{
    margin-top: 140px;
  }

  #main-slider .carousel h1 {
    font-size: 25px;

  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  .tab-wrap .media .parrent.pull-left, 
  .media.accordion-inner .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .services-wrap {
    padding: 40px 0 40px 30px;
  }

  .chef_list_detail .thumb_strip{border-radius: 10px;height: 125px;left: 0;position: relative;top: 0;width: 125px;margin:0 auto 10px auto}
  .strip_list .go_to{display: table;height: auto;margin-top: 6%;text-align: center;width: 100%;}
  .chef_list_detail .desc {min-height: 125px;padding-left:0px;padding-right:0px;position: relative;}
  .chef_list_detail .desc h3 {margin-top: 6px;text-align:center;text-transform: none;}
  .chef_list_detail .desc .type{text-align:center;}
  .chef_list_detail .desc .location{text-align:center}
  .chef_list_detail .desc .rating{text-align:center}

  .loginOr{
  position: relative; 
    height: 50px;
  }

  .loginh5{
    font-size: 30px; 
    font-weight: 600; 
    position: absolute; 
    top: 0%; 
    left:50%;
    /*transform: translate(-50%,-50%);*/
  }
}

/* xs */
@media (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .top-number{
    font-size: 14px;
  }

  input.search-form:hover {
    width: 120px;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 16px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }


  .media.accordion-inner .pull-left, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .accordion-inner h4 {
    margin-top: 10px;
  }

  .tab-wrap .media .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .media-body{
    clear: both;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }

  .sinlge-skill {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  ul.social_icons li{
    margin-right: 0;
  }

    .chef_list_detail .side-bar .text-post{width:80%;}
    header .logo{display:inline-block;margin:10px 0 0;padding-bottom:10px;text-align:left;width:100%}
    #banner p{display:none}
    .desc{padding-left:140px;padding-right:0px;}
    .thumb_strip{left:0;}
    .desc .rating{text-align:left}
    .desc .location{text-align:left}
    .desc .type{text-align:left}
    .strip_list .desc h3{text-align:left}
    .chef_list_detail .thumb_strip{border-radius: 10px;height: 125px;left: 0;position: relative;top: 0;width: 125px;margin:0 auto 10px auto}
    .strip_list .go_to{display: table;height: auto;margin-top: 6%;text-align: center;width: 100%;}
    .chef_list_detail .desc {min-height: 125px;padding-left:0px;padding-right:0px;position: relative;padding-top:0px;}
    .chef_list_detail .desc h3 {margin-top: 6px;text-align:center;text-transform: none;}
    .chef_list_detail .desc .type{text-align:center;}
    .chef_list_detail .desc .location{text-align:center}
    .chef_list_detail .desc .rating{text-align:center}
    #sub_content #thumb{text-align:center;margin:0 auto 15px auto;display:block;float:none}
    #sub_content h1{text-align:center;font-size:26px;}
    .sub_cont_rt{text-align:center}
    .sub_cont_lt{text-align:center;font-size:14px;}
    .sub-banner .rating{text-align:center}

    .loginOr{
      position: relative; 
      height: 50px;
    }

  .loginh5{
    font-size: 30px; 
    font-weight: 600; 
    position: absolute; 
    top: 50%; 
    left:50%;
    transform: translate(-50%,-50%);
  }

}

/* XS Portrait */
@media (max-width: 480px) {
	#main-slider .carousel .item{
		height: 300px !important;
	}
	#main-slider .carousel .slide-margin {
		margin-top: -0px;
	}
	#main-slider .carousel .carousel-content {
		margin-top: 150px;
	}
  #main-slider .carousel h1 {
    font-size: 18px;
    
  }

  .search_container{width:80%;}
  .search_container button.icon{right:11%}
  .chef_list_detail .side-bar .text-post{width:72%;}

  .loginOr{
    position: relative; 
    height: 50px;
  }

  .loginh5{
    font-size: 30px; 
    font-weight: 600; 
    position: absolute; 
    top: 50%; 
    left:50%;
    transform: translate(-50%,-50%);
  }
}

@media(max-width: 479px){
  .search_container button.icon{right:17%}
  .search_container input#search{font-size:8px;}
  #summary_review{padding:20px 15px;}
  .strip_list .thumb_strip{text-align:center;margin:0 auto;display:block;left:0;right:0}
  .strip_list .thumb_strip img{text-align:center;margin:0 auto;display:block}

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    background-color: #25135c;
  }

  .navbar-default .navbar-nav > li > a {
    color: #f7f7f7;
    font-size: 16px;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: #8f5297;
    color: #fff;
  }

  #bottom h3 {
    margin-top: 10px;

  }

  #bottom p{
    margin-top: 2px;
  }

  #bottom ul {
    margin-bottom: 10px;
  }

  #footer div.copyright {
    margin-bottom: 15px;
  }

  #services h2{
    font-size: 18px;
  }

  .services-wrap h3 {
    font-size: 16px;
  }

  .loginOr{
    position: relative; 
    height: 50px;
  }

  .loginh5{
    font-size: 20px; 
    font-weight: 600; 
    position: absolute; 
    top: 0%; 
    left:50%;
    /*transform: translate(-50%,-50%);*/
  }

}
